body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background: url(header.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


h1 {
  font-size: 3rem;
  color: #e2dbdb;
  padding-left: 50px;
}

hr {
  border-color: #F05F44;
  border-width: 3px;
  max-width: 65px;
}

.buffer {
  height: 10rem;
}

.btn {
  font-weight: 700;
  border-radius: 300px;
  text-transform: uppercase;
}

.btn-primary {
  background-color: #F05F44;
  border-color: #F05F44;
  padding-left: 30px;
}

.btn-primary:hover {
  background-color: #ee4b08;
  border-color: #ee4b08;
  border-width: 4px;
}

.btn-xl {
  padding: 1rem 2rem;
}

.form-group {
  padding-left: 30px;
  padding-bottom: 35px;
}

footer {
  padding-top: 25px;
  padding-bottom: 15px;
  text-align: right;
  padding-left: 50px;
  font-size: 12px;
}

h3{
  color: white;
}

#mainMap {
  width: 100%;
  height: auto;
  border-radius: 8px;
}


.col-md-6 {
  padding-bottom: 70px;

}

.container {
  padding-left: 100px;
}

.vertical-center {
    padding-left: 490px;
    color: white;
    padding-bottom: 50px;
}

