<%- include ("partials/header")%>
	
	<script>
		function myFunction(){
			var Countri = document.getElementById('countrybox').value;
			console.log("CLICKED BUTTON");
		}
</script>
	<h1>
		Landing Page!
	</h1>

<h2>
	Enter the country you want to find:
</h2>
<form action = "/countries" method = "POST">
	<div class = "field">
		<label>Country</label>
		<input type = "text" name = "country[Country]" id ="countrybox" placeholder = "title">
		<button onclick = "greetings()">
			Submit!
		</button>

<script>
	function greetings(){
		var Countri = document.getElementById("countrybox").value;

	}
	
		</script>

		</div>
</form>


	
	<%- include ("partials/footer")%>