
	<%- include ("partials/header")%>

<button onclick = "shows()">
			Submit!
		</button>

<script>
	function shows(){
		
		alert(items.toString());
	}
	
		</script>



<%- include ("partials/footer")%>
